<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>主页</title>
</head>
<body>
<!--FrontEnd/html/homePage.html-->

<div class="header" id="header">
    <div class="logo">文章发布</div>
<!--    <ul id="navigation">-->
<!--        <li id="first"><a href="enjoyArticle.html">欣赏文章</a></li>-->
<!--        <li><a href="publishArticle.html">发布文章</a></li>-->
<!--    </ul>-->

    <div class="login">
        <span><a href="login02.html" class="login01">登录</a></span>
        <span>丨</span>
        <span><a href="signup.html" class="login01">注册</a></span>
    </div>
</div>


</body>
</html>

<!--定义 link标签，引入外部的css文件-->
<link rel="stylesheet" href="../css/homePage.css">