#personalPage{
    background: darkgray;
}

ul li{
    background: cornflowerblue;
    list-style: none;
}

#left-content{
    position: absolute;
    width: 250px;
    top: 0;
    float: left;
    background: #fff;
    margin-left: 100px;
}

#left-content ul li{
    float: top;
    color: white;
    width: 190px;
    text-align: center;
    line-height: 60px;
    cursor: pointer;
}

#left-content ul li:hover{
    background: dodgerblue;
}

#right-page{
    background: white;
    opacity: 0.7;
    position: absolute;
    scrolling: no;
    margin-left: 400px;
}

.right-page0{
    width: 700px;
    height: 600px;
    scrolling: no;
    //设置边框格式
    frameborder: no;
    border: 0;
}

