.article {
    margin-top: 10px;
    margin-bottom:20px;
    width: 200px;
    height: 260px;
}

.article .item {
    width: 200px;
    height: 260px;
    background: #ccc;
    margin: 20px;
    float: left;
    margin-right:20px;
    cursor:pointer;
    position: relative;
}

.article .item div {
    text-align:center;
}

.item-info {
    background: #666;
    color: #FFF;
}
.item-name {
    font-size: 25px;
    line-height: 80px;
}
.item-writer {
    font-size: 15px;
    text-indent: 7em;
    padding-bottom: 60px;
}
.item-introduce {
    background: #eee;
    height: 100px;
    line-height: 30px;
    font-size: 15px;
}